<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>usuario</title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link th:href="@{/css/styleLogeo.css}" rel="stylesheet" />
	

</head>  
<body>
    <form class="formulario">
    
    <h1>INICIAR SESION</h1>
     <div class="contenedor">
     
     
         
         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input type="text" placeholder="Usuario">
         
         </div>
         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input type="password" placeholder="Contraseña">
         
         </div>
        <div class="content">
                    <a th:href="@{/admin}"> 
                      
                        </div>
                                <span>ENVIAR</span>                       
         
                    </a>
                </div>
          
       
         <p>Bienvenido y disfrute de un hermoso programa.</p>
        
     </div>
 
               
              
                    

    </form>
    
</body>
</html>